<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all sub requests
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new sub request
    </h2>

    <form action="/insert_sub_request" method="post">
      <div class="form-group">
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="league_environment_box">
          League environment
        </label>

        <input type="text" id="league_environment_box" name="query_league_environment" class="form-control">
      </div>

      <div class="form-group">
        <label for="league_format_box">
          League format
        </label>

        <input type="text" id="league_format_box" name="query_league_format" class="form-control">
      </div>

      <div class="form-group">
        <label for="league_gender_box">
          League gender
        </label>

        <input type="text" id="league_gender_box" name="query_league_gender" class="form-control">
      </div>

      <div class="form-group">
        <label for="league_level_box">
          League level
        </label>

        <input type="text" id="league_level_box" name="query_league_level" class="form-control">
      </div>

      <div class="form-group">
        <label for="competition_level_box">
          Competition level
        </label>

        <input type="text" id="competition_level_box" name="query_competition_level" class="form-control">
      </div>

      <div class="form-group">
        <label for="position_box">
          Position
        </label>

        <input type="text" id="position_box" name="query_position" class="form-control">
      </div>

      <div class="form-group">
        <label for="game_location_box">
          Game location
        </label>

        <textarea id="game_location_box" name="query_game_location" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="game_datetime_box">
          Game datetime
        </label>

        <input type="datetime-local" id="game_datetime_box" name="query_game_datetime" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create sub request
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Sender
        </th>

        <th>
          League environment
        </th>

        <th>
          League format
        </th>

        <th>
          League gender
        </th>

        <th>
          League level
        </th>

        <th>
          Competition level
        </th>

        <th>
          Position
        </th>

        <th>
          Game location
        </th>

        <th>
          Game datetime
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @sub_requests.each do |sub_request| %>
      <tr>
        <td>
          <%= sub_request.id %>
        </td>

        <td>
          <%= sub_request.sender_id %>
        </td>

        <td>
          <%= sub_request.league_environment %>
        </td>

        <td>
          <%= sub_request.league_format %>
        </td>

        <td>
          <%= sub_request.league_gender %>
        </td>

        <td>
          <%= sub_request.league_level %>
        </td>

        <td>
          <%= sub_request.competition_level %>
        </td>

        <td>
          <%= sub_request.position %>
        </td>

        <td>
          <%= sub_request.game_location %>
        </td>

        <td>
          <%= sub_request.game_datetime %>
        </td>

        <td>
          <%= time_ago_in_words(sub_request.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(sub_request.updated_at) %> ago
        </td>

        <td>
          <a href="/sub_requests/<%= sub_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
