
<h2>Your sub requests</h2>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        
        <th>Environment</th>
        <th>Format</th>
        <th>Gender</th>
        <th>Level</th>
        <th></th>
        <th>Coed player</th>
        <th>Position</th>
        <th>Location</th>
        <th>Game time</th>
        <th>Sender</th>
        <th>
        </th>
      </tr>

      <% @sub_requests.each do |sub_request| %>
      <tr>
        
        <td><%= sub_request.league_environment.capitalize %></td>
        <td><%= sub_request.league_format.capitalize %></td>
        <td><%= sub_request.league_gender.capitalize %></td>
        <td><%= sub_request.league_level.capitalize %></td>
        <%if sub_request.competition_level == "" %>
          <td></td>
        <%else%>
          <td><%= sub_request.competition_level.upcase %></td>
        <%end%>
        <%if sub_request.league_gender == "coed" %>
          <td><%= sub_request.player_gender.capitalize %></td>
        <%else%>
          <td></td>
        <%end%>
        <td><%= sub_request.position.capitalize %></td>
        <td><%= sub_request.game_location %></td>
        <td><%= sub_request.game_datetime.strftime("%a %-m/%e/%y %I:%M %p") %></td>
        <td><%= User.where({ :id => sub_request.sender_id}).at(0).first_and_last_init %></td>

        <td>
          <a href="/sub_requests/<%= sub_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h2>Your playing levels</h2>


<hr>

<h2>Edit your profile</h2>

<div >

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>

     <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <div>
        <label for="first_name_box">First name</label>
        <input id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>
      <div>
        <label for="last_name_box">Last name</label>
        <input id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>

      <div>
        <label for = "gender_box">Gender for coed leagues</label>
        <select type="dropdown" id="gender_box" name="query_gender" class="form-control" style = "width: 25%;">
            <option value="<%=@current_user.coed_gender%>"><%=@current_user.coed_gender.capitalize%></option>
            <option value="female">Female</option>
            <option value="male">Male</option>
        </select>
      </div>


      <button>
        Update account
      </button>
    </form>
  </div>
</div>